In [1]:
from scraper import get_all_schools, get_roster, get_player_gamelog
import pandas as pd
from pprint import pprint

In [2]:
# Create a schools dataframe
s = get_all_schools()
schools_df = pd.DataFrame(s)
print(schools_df.head())

                  school_name                      school_link  \
0                         NaN                              NaN
1  Abilene Christian Wildcats  /cbb/schools/abilene-christian/
2           Air Force Falcons          /cbb/schools/air-force/
3                  Akron Zips              /cbb/schools/akron/
4        Alabama A&M Bulldogs         /cbb/schools/alabama-am/

                 location year_min year_max years     g wins losses  \
0                     NaN      NaN      NaN   NaN   NaN  NaN    NaN
1          Abilene, Texas     1971     2022    12   356  195    161
2  USAF Academy, Colorado     1958     2022    65  1780  771   1009
3             Akron, Ohio     1902     2022    71  1649  981    668
4         Normal, Alabama     2000     2022    23   655  250    405

  win_loss_pct     srs     sos poll_final conf_champ_count  \
0          NaN     NaN     NaN        NaN              NaN
1         .548   -8.41   -6.47          0                0
2         .433   -2.83    1.33          0                1
3         .595   -0.16   -1.54          0                9
4         .382  -16.95  -11.36          0                1

  conf_champ_post_count ncaa_count ncaa_final_four_count ncaa_champ_count
0                   NaN        NaN                   NaN              NaN
1                     2          2                     0                0
2                     0          4                     0                0
3                     4          4                     0                0
4                     1          1                     0                0

In [3]:
# Get Jayhawks
my_school = schools_df.loc[schools_df['school_name'] == 'Kansas Jayhawks'].to_dict('records')[0]
pprint(my_school)

# Check if school played this year
if my_school['year_max'] == '2022':
    print(f'\nThe {my_school["school_name"]} played this year!')

{'conf_champ_count': '63',
 'conf_champ_post_count': '15',
 'g': '3228',
 'location': 'Lawrence, Kansas',
 'losses': '877',
 'ncaa_champ_count': '3',
 'ncaa_count': '49',
 'ncaa_final_four_count': '15',
 'poll_final': '46',
 'school_link': '/cbb/schools/kansas/',
 'school_name': 'Kansas Jayhawks',
 'sos': '7.25',
 'srs': '15.83',
 'win_loss_pct': '.728',
 'wins': '2351',
 'year_max': '2022',
 'year_min': '1899',
 'years': '124'}

The Kansas Jayhawks played this year!

In [4]:
# Get team roster
ku_roster = get_roster(my_school["school_link"])
roster_df = pd.DataFrame(ku_roster)
print(roster_df.head())

Season: 2022
/cbb/schools/kansas/2022.html
Could not get player link...skipping player
            player                          player_link number class pos  \
0     Ochai Agbaji     /cbb/players/ochai-agbaji-1.html     30    SR   G
1  Christian Braun  /cbb/players/christian-braun-1.html      2    JR   G
2  David McCormack  /cbb/players/david-mccormack-1.html     33    SR   F
3     Jalen Wilson     /cbb/players/jalen-wilson-1.html     10    SO   F
4    Dajuan Harris    /cbb/players/dajuan-harris-1.html      3    JR   G

  height weight           hometown               high_school       rsci  \
0    6-5    210    Kansas City, MO               Oak Park HS
1    6-6    205  Overland Park, KS  Blue Valley Northwest HS
2   6-10    265        Norfolk, VA          Oak Hill Academy  30 (2018)
3    6-8    215         Denton, TX          John H. Guyer HS  51 (2019)
4    6-1    160       Columbia, MO            Rock Bridge HS

                       summary
0   19.7 Pts, 5.1 Reb, 1.6 Ast
1   14.6 Pts, 6.4 Reb, 2.6 Ast
2   10.1 Pts, 7.1 Reb, 1.0 Ast
3   10.9 Pts, 7.0 Reb, 1.7 Ast
4    5.2 Pts, 1.4 Reb, 4.4 Ast

In [5]:
# Initialize a player games array
ku_player_game_stats = []

# A gamelog is a list of all games a certain player has played
# regardless of what season it was
# Now let's get the gamelogs from KU's current roster
for ku_player in ku_roster:
    # Get player game log
    p = get_player_gamelog(ku_player['player_link'])
    # Player gamelog has some empty rows
    ku_player_game_stats += p

ku_gamelog_df = pd.DataFrame(ku_player_game_stats).dropna()
ku_gamelog_df

,season,date_game,school_name,game_location,opp_name,game_type,game_result,gs,mp,fg,...,ft_pct,orb,drb,trb,ast,stl,blk,tov,pf,pts
1,2018-19,2019-01-09,Kansas,,TCU,REG,W,0,25,3,...,,1,3,4,1,2,1,0,2,7
2,2018-19,2019-01-12,Kansas,@,Baylor,REG,W,0,21,4,...,.500,1,2,3,0,1,0,0,2,10
3,2018-19,2019-01-14,Kansas,,Texas,REG,W,0,25,2,...,,0,4,4,2,1,0,0,1,4
4,2018-19,2019-01-19,Kansas,@,West Virginia,REG,L,0,4,0,...,,1,2,3,0,0,0,3,0,0
5,2018-19,2019-01-21,Kansas,,Iowa State,REG,W,0,16,3,...,,1,4,5,0,0,1,2,5,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1235,2017-18,2018-02-17,Jacksonville State,@,Austin Peay,REG,L,0,26,5,...,.700,4,6,10,2,1,2,0,3,18
1236,2017-18,2018-02-22,Jacksonville State,,Belmont,REG,W,0,20,3,...,1.000,3,7,10,4,0,0,0,3,10
1237,2017-18,2018-03-01,Jacksonville State,N,Tennessee Tech,CTOURN,W,0,8,0,...,,0,1,1,1,0,0,1,2,0
1238,2017-18,2018-03-02,Jacksonville State,N,Murray State,CTOURN,L,0,3,0,...,,0,3,3,0,0,0,0,1,0
1239,,28 Games,,,,,,0,273,38,...,.622,17,56,73,20,3,4,21,48,115

In [6]:
# Let's review data...
ku_gamelog_df.to_csv('go_hawks.csv')

In [ ]:
# Looks like the correct data, but it needs to joined with previous data frames